<div class="dnd5e chat-card">
    <button data-die="d4" class="card-buttons chat-roller">d4</button>
    <button data-die="d6" class="card-buttons chat-roller">d6</button>
    <button data-die="d8" class="card-buttons chat-roller">d8</button>
    <button data-die="d10" class="card-buttons chat-roller">d10</button>
    <button data-die="d12" class="card-buttons chat-roller">d12</button>
    <button data-die="d20" class="card-buttons chat-roller">d20</button>
    <button data-die="d100" class="card-buttons chat-roller">d100</button>
</div>